.container {
  margin: 0.5rem;
  display: grid;
  place-content: center;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container ul >li {
  font-size: 1.3rem;
  margin: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.container ul >li:hover {
  color: var(--black);
}

@media only screen and (min-width: 375px) {
  .container {
    display: none
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }
}
/* @media only screen and (min-width: 1200px) {} */